<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Aumo Finance"
        android:supportsRtl="true"
        android:theme="@style/Theme.AumoFinance">
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AumoFinance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.MainActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".periods.PeriodsActivity"
            android:exported="false" />
        <activity
            android:name=".coa.CoaActivity"
            android:exported="false" />
        <activity
            android:name=".journal.JournalEntryActivity"
            android:exported="false" />
        <!-- Activities added incrementally per phase (Login, Home, Dashboard, etc.) -->
    </application>
</manifest>
